body {
    background-size: 100%;
    background-color:	#00549D;
}

.titleText {
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Skranji', cursive;
   
}

.miniHeading {
    color: white;
    text-align: center;
    font-size: 38px;
    font-family: 'Cabin Condensed', sans-serif;
    letter-spacing: 2px;
}

.addBurger {
    margin-left: auto;
    margin-right: auto;
}

.krabbyPatty {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.moveMe {
    text-align: center;
    margin: 0 auto 3% 0;

}


.showBurger {
    text-align: center;
    font-size: 28px;
}

.devourBurger
{
    text-align: center;
    font-size: 28px;

}

.btn {
    padding-top: 0px;
}

p {
    color: palegoldenrod;
}

